.w-and-w {
    display: flex;
    justify-content: space-around;
}

.w-and-w > div {
    flex: 1;
    text-align: center;
    margin-left: 5px;
}

.w {
    background-color: #adccdd;
}

.mission-statement {
    color: #025393;
    text-align: center;
    background-color: #e7e8e9;
    margin-top: 10px;
}

.statement {
    margin-bottom: 50px;
}
